.foot{
    margin-top: 30px;
    text-align: center;
}
a{
    text-decoration: none
}
a:hover{
    font-size: 20px;
}
.head{
    text-align: center;
}
.bod {        
  display: flex;
  margin-left: 550px;
  justify-content: center;   
  align-items: center;       
}