<div class="content">
    <h1>Signal</h1>
    <h5>In Angular, a Signal is a reactive state container that automatically updates the UI whenever its value changes.</h5>
    <span>{{courseName}}-> Normal variable</span>
    <br>
    <!-- Signal should be accessed as a function call-->
    <span>{{coursName()}} -> This is a signal</span> 
    <br>
    <span>{{courseDetail()}} -> This is a computed Signal </span>
</div>
<div class="foot">
    <h4>Refer the codes for better understanding </h4>
    <a href="https://github.com/Sridhar311/angular_concepts/tree/main/src/app/components/signalexample">Codes Here</a>
</div>