.foot{
    margin-top: 50px;
    text-align: center;
}
a{
    text-decoration: none
}
a:hover{
    font-size: 20px;
}
.content{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}