.myclass{
    color: red;
}
.foot{
    margin-top: 50px;
    text-align: center;
}
a{
    text-decoration: none
}
a:hover{
    font-size: 20px;
}
.content{
    text-align: center;
    margin: 20px;
}
li{
    list-style-type: none;
}