.col-3{
    border: 1px solid black;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}
.def{
    text-align: center;
}
.foot{
    margin-top: 20px;
    text-align: center;
}
a{
    text-decoration: none
}
a:hover{
    font-size: 20px;
}