body {
      background: linear-gradient(135deg, #4facfe, #00f2fe);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
    }

    .login-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-card{
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  background: white;
  padding: 30px;
}

    .login-title {
      font-weight: bold;
      text-align: center;
      margin-bottom: 25px;
    }

    .form-control {
      border-radius: 10px;
    }

    .btn-login {
      border-radius: 10px;
      font-weight: 600;
    }

    .extra-links {
      text-align: center;
      margin-top: 15px;
    }

    .extra-links a {
      text-decoration: none;
      font-size: 14px;
    }