.foot{
    margin-top: 50px;
    text-align: center;
}
a{
    text-decoration: none
}
a:hover{
    font-size: 20px;
}
.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}
table {
  width: 700px;     
}
table {
  width: 100%;
  max-width: 900px;
}
table {
  margin-bottom: 10px;
}
.content table {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 15px;
  border-radius: 10px;
}